.container {
  background-color: transparent;
  color: #8692a6;
  font-family: 'interLight';
  font-size: 16px;
  max-width: 426px;
  border-width: 0;
  margin-top: 20px;
}
.text {
  color: #1565d8;
}
