.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column;
}
.cardImage {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.cardStats {
  display: flex;
  align-items: center;
}

.cardStar {
  height: 14px;
}
.gray {
  color: #918e9b;
}
.cardPrice {
  margin-top: auto;
}
