.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.backButton {
  display: flex;
  align-items: center;
  background: transparent;
  border-width: 0px;
}
.back {
  color: #8692a6;
  margin-left: 5px;
  font-size: 16px;
  font-family: "inter-semibold";
}
.step {
  margin-bottom: 0;
  color: #bdbdbd;
  font-size: 14px;
  font-family: "inter-Medium";
}
.title {
  margin-top: 2px;
  font-size: 16px;
  color: #8692a6;
  font-family: "inter-semibold";
}
