.App {
  display: flex;
}
.auth-route-container {
  display: flex;
}
@media (max-width: 768px) {
  .auth-route-container {
    flex-direction: column;
  }
}
.auth-container {
  flex: 1;
  padding: 20px;
}
.auth-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px 0px 100px;
}
input:-webkit-autofill {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.description {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
  font-family: "interRegular";
  color: #8692a6;
}
